<div id="<%= dom_id post %>">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><%= post.title %></h1>
      <p class="card-text"><%= post.message %></p>
      <span><%= post.user_id %></span>
      <hr>
      <button>Me gusta</button>
      <button>No me gusta</button>
    </div>
  </div>
</div>
